/* About Section */
.about {
    background: #85c443;
    color: white;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    min-height: 100px;
}

.about img {
    padding-left: 0px;
    margin: 0;
    width: 50%;
    height: 50%;
}

.about-text {
    flex: 1;
    padding-right: 3%;
    padding: 40px 10px;
}

.about-text h2 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.about-text p {
    font-weight: 10;
    font-size: 30px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
@media (max-width: 1024px) {
    .about img {
        width: 100%;
    }
}
/* Small Mobile Devices */
@media (max-width: 480px) {
    .about {
        gap: 15px;
        padding: 15px 0;
    }

    .about img {
        width: 95%;
    }

    .about-text {
        width: 95%;
        padding: 15px 0;
    }

    .about-text h2 {
        font-size: 28px;
    }

    .about-text p {
        font-size: 16px;
    }

    .about-kidopia {
        font-size: 14px !important;
    }
}