/* About Section */
.about {
    background: #85c443;
    color: white;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    min-height: 100px;
    padding: 0;
}

.about img {
    padding-left: 20px;
    width: 50%;
    height: 40%;
}

.about-text {
    flex: 1;
    padding-right: 3%;
}

.about-text h2 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.about-text p {
    font-weight: 10;
    font-size: 30px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}