/* Banner */
.terms-banner {
  background: #111;
  color: #fff;
  width: 100%;
  padding: 50px 0px;
  text-align: center;
}

.terms-banner h1 {
  font-weight: 700;
  font-size: clamp(24px, 5vw, 45px);
  line-height: 1.2;
  text-transform: uppercase;
}

.terms-banner p {
  font-size: clamp(16px, 2.5vw, 22px);
  line-height: 1.6;
  color: #d9d9d9;
  margin-top: 10px;
}

/* Section Titles */
.section-title2 {
  background: #8DC63F;
  color: white;
  font-weight: 800;
  font-size: clamp(18px, 4vw, 25px);
  padding: 16px 24px;
}

/* Section Content */
.section-content {
  padding: 16px 24px;
  background: #fff;
}

.section-content p,
.section-content li {
  font-size: clamp(16px, 3vw, 20px);
  line-height: 1.6;
  color: #000;
}

.section-content ul {
  margin: 10px 0;
  padding-left: 25px;
}

/* Media Queries */
@media (max-width: 768px) {
  .terms-banner {
    padding: 30px 15px;
  }

  .section-title,
  .section-content {
    padding: 12px 15px;
  }
}