.game-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #85c443;
  background: #222121;
  border-radius: 8px;
  overflow: hidden;
  height: 100%; /* make sure all cards have equal height in grid */
}

.game-card img {
  width: 100%;
  height: 60%; /* take half of the card */
  object-fit: cover; /* scale and crop to fill */
}

.game-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* center vertically */
  align-items: center;
  height: 40%; /* take remaining half */
  padding: 10px;
}

.game-card p {
  margin: 10px 0;
  margin-top: 30px;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
}


.game-card button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px; /* slightly smaller */
  background: #98CC52;
  border-radius: 30px; /* slightly smaller radius */
  margin: 10px 25% 0 27%;
  padding: 10px 15px; /* smaller padding */
  color: #ffffff;
  font-weight: 500;
  width: 45%;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-top: 12px; /* space below the text */
}

.game-card button .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 5px;
  margin-left: 8px;
  border-radius: 50%;
  border: 1px solid #fff;      /* white circle */
  color: #fff;        /* green icon */
  font-size: 10px;  
}

.game-card button:hover {
  transform: translateY(-2px);
  background: #4e9935; /* subtle hover effect */
}
