.game-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #85c443;
  background: #222121;
  border-radius: 8px;
  overflow: hidden;
  height: 100%; 
  padding-bottom: 5px;
}

.game-card img {
  width: 100%;
  aspect-ratio: 4/3; /* 4:3 rectangular aspect ratio */
  object-fit: cover;
  flex: none;
}

.game-card p {
  margin: 5px 0;
  margin-top: 15px;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  flex: 1;
}

.game-card div {
  align-items: bottom;
  justify-content: center;
  flex: 1;
}

.game-card button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background: #98CC52;
  border-radius: 30px;
  margin: 10px 27% 0 26%;
  padding: 10px 12px;
  color: #ffffff;
  font-weight: 400;
  width: 40%;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-top: 12px;
  margin-bottom: 12px;
}

.game-card button .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 5px;
  margin-left: 8px;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff; 
}

.game-card button:hover {
  transform: translateY(-2px);
  background: #000;
}